.content {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content span {
    flex: 1;
    color: var(--primary);
    border-radius: 8px;
    background: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content .loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  background: var(--primary-light);
  cursor: pointer;
  border: none;
  height: 2.5rem;
  transition: all 0.2s ease;
  outline: none;
  margin: 8px;
  padding: 8px;
}

button:hover {
  background-color: var(--primary-light-white);
  letter-spacing: 0.5px;
}