:root {
  --primary: rgb(14, 0, 136);
  --primary-light: rgb(80, 61, 250);
  --primary-light-white: rgb(103, 86, 255);
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
